<div>
  <h2 class="title">Sendo mais feliz <span class="accent">há</span></h2>
  <div class="grid">
    <div class="card">
      <div class="value">{{ diff.years | number:'2.0' }}</div>
      <div class="label">anos</div>
    </div>
    <div class="card">
      <div class="value">{{ diff.months | number:'2.0' }}</div>
      <div class="label">meses</div>
    </div>
    <div class="card">
      <div class="value">{{ diff.days | number:'2.0' }}</div>
      <div class="label">dias</div>
    </div>
    <div class="card">
      <div class="value">{{ diff.hours | number:'2.0' }}</div>
      <div class="label">horas</div>
    </div>
    <div class="card">
      <div class="value">{{ diff.minutes | number:'2.0' }}</div>
      <div class="label">minutos</div>
    </div>
    <div class="card">
      <div class="value">{{ diff.seconds | number:'2.0' }}</div>
      <div class="label">segundos</div>
    </div>
  </div>
  <p class="sub" style="display: flex;justify-content: center;padding-top: 1rem;  color: #e0e0e0;  font-weight: 600;">Namorando desde 24/08/2024</p>
  <p class="sub" style="display: flex;justify-content: center;  color: #e0e0e0;  font-weight: 600;">Beijando sua boquinha desde 01/06/2024 😏</p>
</div>
