<app-coracao></app-coracao>

<div *ngIf="!showContent" class="intro-screen">
  <h2>Lulu <span class="accent">&</span> Lele</h2>
  <p>Estamos juntos de verdade desde junho do ano passado, e cada momento ao seu lado tem sido simplesmente incrível, impossível negar.</p>
  <p>Mas o dia em que oficializei e fiz o pedido foi ainda mais especial, um marco no nosso amor. Por isso, escolhi algumas fotos em ordem cronológica para revivermos cada pedacinho da nossa história até chegar àquele dia inesquecível.</p>
  <p>Prepare-se para ver algo especial ☺️</p>
  <button (click)="showContent = true">Entrar</button>
</div>

<div *ngIf="showContent">
  <audio autoplay loop>
    <source src="assets/musica/Turning Page (Instrumental).mp3" type="audio/mpeg">
  </audio>

  <div class="back">
    <span (click)="showContent = false">↩︎</span>
  </div>

  <!-- Carrossel -->
  <section style="margin-top: -2rem;">
    <div class="container">
      <app-carousel></app-carousel>
    </div>
  </section>

  <!-- Nomes e texto -->
  <section class="hero" style="margin-top: -3rem;">
    <div class="container">
      <div class="names">Lulu <span class="accent">&</span> Lele</div>
      <p class="tagline">Cada foto conta uma história. Cada dia, um novo capítulo. 💘</p>
      <app-text-carousel></app-text-carousel>
    </div>
  </section>

  <!-- Contador -->
  <section>
    <div class="container">
      <app-counter></app-counter>
    </div>
  </section>

  <div class="presente">
    <button class="gift-btn" (click)="abrirCarta()">
        🎁 Quer presente? Clique aqui
    </button>

    <!-- Modal envelope -->
    <div class="carta-overlay" *ngIf="mostrarCarta">
      <div class="envelope"  [ngClass]="{'fechando': animandoFechar}">
        <div class="envelope-flap"></div>
        <div class="envelope-body">
          <div class="carta-conteudo">
            <h2>Caça ao presente 🕵️‍♀️</h2>
            <!-- Swiper carousel -->
            <swiper-container
              #swiper
              pagination="true"
              navigation="false"
              space-between="30"
              slides-per-view="1"
              loop="false"
              style="--swiper-pagination-color:#1652d1; --swiper-pagination-bullet-inactive-color:#7e7f81"
            >
              <swiper-slide *ngFor="let text of textos">
                <p>
                  {{ text }}
                </p>
              </swiper-slide>
            </swiper-container>
            <button class="fechar" (click)="fecharCarta()">Fechar</button>
             <button *ngIf="!mostrarDicas" class="dicas" (click)="abrirDicas()">Dicas</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

